/**********NAVBAR********/
.nav-item {
    /* margin: 10px; */
    padding: 6px;

}

.navbar-toggler {
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    border-radius: 5px;
}

.navbar-brand {
    font-size: 40px;
    font-family: bold sans-serif;
    font-weight: 400;
}


.navbar-nav>li>a {

    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;

}

.navbar-nav>li>a:hover {
    color: rgb(0, 255, 234) !important;

}